.menu-navegacao {
    grid-area: menu-navegacao;
}

ul{
    white-space: nowrap;
    margin-top: 10px;
}

li{
    display: inline;
    vertical-align: middle;
    padding: 0 5px 0 0;
}

#img-editor, #img-comunidade{
    opacity: 0.25;
}

#editor{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

#comunidade{
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.usuario-mobile{
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #CCC;
}

#imagem-usuario-mobile {
    height: 45px;
}

#imagem-usuario-mobile:hover{
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
}