#container-index{
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0 20px;
    grid-template-areas:
    "header header header"
    "menu-navegacao area-edicao menu-projeto";

    font-family: 'Inter', sans-serif;
    background: #051D3B;
    margin: 0 10%;
    padding: 32px 0;
}

img:hover{
    cursor: pointer;
}

::placeholder{
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
    opacity: 0.75;
    font-size: 15px;
}

#titulos{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
    white-space: nowrap;
}

#container-comunidade{
    display: grid;
    grid-template-columns: 0.7fr 1.15fr 1.15fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0 20px;
    grid-template-areas:
    "header header header"
    "menu-navegacao area-edicao menu-projeto";

    font-family: 'Inter', sans-serif;
    background: #051D3B;
    margin: 0 10%;
    padding: 32px 0;
}
